body{
    margin-left: 400px;
	margin-right: 400px;
}
.article{
	border : 2px rgba(0, 0, 0, 0.3) solid;
	border-radius: 10px;
}
.detail-article >p{
	text-align: justify;
	padding: 5px 5px 5px 5px;
}
.titre-article{
	border-bottom: dotted;
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px 5px 5px 5px;
	padding : 1px 1px 1.5em 1px;
	font-size: 1em;
	color:#7b7b7b;
}
a{ 
    color :white;
	font-weight: bold;
	border :8px 8px 8px 8px ;
	padding: 5px 5px 5px 5px;
	border-radius: 200px/50px;
	background-color: royalblue;
	text-decoration: none;
}
.detail-article{
    text-align: center;
    padding: 5px 5px 5px 5px;
}